@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-------Обнуляющий стиль-------*/
.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1150px;
  margin: 0px auto 0px auto;
  padding: 0 10px 0 10px;
  min-width: 0;
}

.header {
  padding: 25px 0 260px 0;
  position: relative;
}

.header__bacground-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__bacground-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: -2;
}

.header__flex-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__flex-menu-item-menu {
  -webkit-flex-basis: 535px;
      -ms-flex-preferred-size: 535px;
          flex-basis: 535px;
}

.header__flex-menu-logo {
  font-family: Montserrat;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.header__flex-menu-menu {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.header__flex-menu-menu li a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.025em;
  color: #ffffff;
  position: relative;
  -webkit-transition: font-size 2s;
  -o-transition: font-size 2s;
  transition: font-size 2s;
}

.header__flex-menu-menu li a:hover {
  font-size: 24px;
  -webkit-transition: font-size 2s;
  -o-transition: font-size 2s;
  transition: font-size 2s;
}

.header__flex-menu-menu li a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 2px;
  /*задаём ширину линии*/
  background-color: #ffffff;
  /*задаём цвет линии*/
  -webkit-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  /*задаём время анимации*/
}

.header__flex-menu-menu li a:hover:after, .header__flex-menu-menu li a:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.header__main-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  text-align: center;
  margin-top: 235px;
  font-family: Montserrat;
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
}

.header__subtitle {
  text-align: center;
  margin-top: 35px;
  font-family: Roboto Slab;
  font-size: 20px;
  text-transform: none;
  color: #ffffff;
}

.header__btn a button {
  margin-top: 33px;
  font-family: Montserrat;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid  #ffffff;
  padding: 13px 33px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.header__btn a button:hover {
  margin-top: 47;
  font-family: Montserrat;
  font-size: 20px;
  text-transform: uppercase;
  color: transparent;
  background-color: #ffffff;
  color: black;
  mix-blend-mode: screen;
  -webkit-border-radius: 35px;
          border-radius: 35px;
  font-weight: 400;
  -webkit-transition: background-color 1.4s, color 1.4s, font-size 1s, -webkit-border-radius 500ms;
  transition: background-color 1.4s, color 1.4s, font-size 1s, -webkit-border-radius 500ms;
  -o-transition: background-color 1.4s, color 1.4s, border-radius 500ms, font-size 1s;
  transition: background-color 1.4s, color 1.4s, border-radius 500ms, font-size 1s;
  transition: background-color 1.4s, color 1.4s, border-radius 500ms, font-size 1s, -webkit-border-radius 500ms;
}

.service {
  min-height: 543px;
  padding-top: 70px;
}

.service__flex-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__flex-item-title {
  font-family: Montserrat;
  font-size: 20px;
  text-transform: uppercase;
  color: #555555;
}

.service__flex-item-line {
  width: 50px;
  height: 2px;
  background-color: #555555;
}

.service__flex-item-subtitle {
  font-family: Roboto Slab;
  font-size: 16px;
  font-weight: 400;
  color: #555555;
}

.service__flex-columns {
  margin-top: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.service__flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 220px;
  margin: 0 10px;
}

.service__colomn-sybmol {
  font-size: 55px;
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  border: 2px solid #dddddd;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c0301c;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.service__colomn-sybmol:hover {
  background-color: #c0301c;
  border: 2px solid #c0301c;
  color: #ffffff;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.service__colomn-title {
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  color: #555555;
}

.service__colomn-text {
  text-align: center;
  font-family: Roboto Slab;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
}

.about-us {
  min-height: 785px;
  background-color: #f8f8f8;
  padding: 70px 0px 0px 0px;
}

.about-us__flex-titles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 94px;
}

.about-us-flex-titles-title {
  font-family: Montserrat;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #555555;
}

.about-us-flex-titles-line {
  width: 50px;
  height: 2px;
  background-color: #555555;
}

.about-us-flex-titles-subtitles {
  font-family: RobotoSlab;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
}

.about-us__flex-paragraths {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: px px px px;
  margin-top: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__flex-paragrath {
  font-family: RobotoSlab;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  max-width: 555px;
}

.about-us__flex-paragrath:last-child {
  padding-left: 12px;
}

.about-us__swiper-container {
  margin-top: 71px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #f8f8f8;
}

.about-us__flex-swiper-image {
  height: 310px;
  width: 250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f8f8f8;
}

.about-us__flex-element {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 280px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 85%;
      -ms-flex: 0 1 85%;
          flex: 0 1 85%;
}

.about-us__flex-element:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  /* Увеличение картинки */
  overflow: hidden;
  -webkit-transition: opacity 124ms linear, -webkit-transform 124ms linear, -webkit-filter 500ms;
  transition: opacity 124ms linear, -webkit-transform 124ms linear, -webkit-filter 500ms;
  -o-transition: opacity 124ms linear, transform 124ms linear, filter 500ms;
  transition: opacity 124ms linear, transform 124ms linear, filter 500ms;
  transition: opacity 124ms linear, transform 124ms linear, filter 500ms, -webkit-transform 124ms linear, -webkit-filter 500ms;
}

.about-us__flex-element:hover .about-us__flex-element-hover {
  visibility: visible;
}

.about-us__flex-element:hover .swiper-imgJS {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.about-us__flex-element-hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 30px;
  z-index: 2;
  width: 55%;
  position: absolute;
  left: 56px;
  bottom: 12px;
  visibility: hidden;
}

.about-us__flex-element-hover a {
  color: #ffffff;
}

.about-us__flex-element-hover-icon {
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us__flex-element-hover-icon:hover {
  background-color: #c0301c;
  -webkit-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  transition: background-color 500ms;
}

.about-us__flex-element img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.about-us__flex-element-discription-flex {
  padding: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us__flex-element-discription-name {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #555555;
}

.about-us__flex-element-discription-about {
  font-family: RobotoSlab;
  font-size: 13px;
  line-height: 24px;
  color: #555555;
}

.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 38px;
  opacity: 0.2;
  background-color: #555555;
  top: 44%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  width: 35px;
  height: 38px;
  opacity: 1;
  background-color: #ff0000;
  -webkit-transition: background-color 0.3s, opacity 0.3s;
  -o-transition: background-color 0.3s, opacity 0.3s;
  transition: background-color 0.3s, opacity 0.3s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px;
  color: #dddddd;
}

.section__latest-works {
  padding-top: 70px;
  padding-bottom: 100px;
}

.latest-works__flex-elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 420px;
  height: 78px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  margin: 0 auto;
}

.latest-works__flex-element-line {
  width: 50px;
  height: 2px;
  background-color: #555555;
  margin: 0 auto;
}

.latest-works__flex-element-title {
  font-family: Montserrat;
  font-size: 20px;
  text-transform: uppercase;
  color: #555555;
  text-align: center;
}

.latest-works__tabs-menu-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 420px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-works-tab {
  font-family: RobotoSlab;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  cursor: pointer;
}

.latest-works-galery-block {
  margin-top: 50px;
  margin-left: 30px;
}

.latest-works__gallery-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -10px;
}

.latest-work__gallery-flex-element {
  width: 320px;
  height: 300px;
  margin: 25px 0px 0 30px;
  position: relative;
}

.latest-work__gallery-flex-element img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.latest-work__gallery-flex-hover {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.latest-work__gallery-flex-hover-title {
  font-family: Montserrat;
  font-size: 18px;
  color: #ffffff;
}

.latest-work__gallery-flex-hover-subtitle {
  font-family: Roboto Slab;
  font-size: 12px;
  color: #ffffff;
  margin-top: 15px;
}

.latest-work__gallery-flex-hover a button {
  font-family: RobotoSlab;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 8px 20px;
  background-color: white;
  margin-top: 25px;
}

.latest-work__gallery-red-mirror-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #c0301c;
  z-index: 3;
  visibility: hidden;
}

.latest-work__gallery-flex-element:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  /* Увеличение картинки */
  overflow: visible;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  -o-transition: transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.latest-work__gallery-flex-element:hover .latest-work__gallery-flex-hover {
  visibility: visible;
  z-index: 3;
}

.latest-work__gallery-flex-element:hover .latest-work__gallery-red-mirror-effect {
  visibility: visible;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.tabs-wrapper .active {
  color: red;
  border-bottom: solid 1px red;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.section-paralax {
  height: 369px;
  position: relative;
}

.paralax__img {
  width: 100%;
  height: 100%;
  background-image: url("../IMG/bacground/paralax_bg_coffe.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.paralax__img-red-mirror-hover {
  height: inherit;
  width: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.paralax__information-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 10%;
  top: 25%;
  visibility: hidden;
}

.section-paralax:hover .paralax__img-red-mirror-hover {
  opacity: 0.6;
  background-color: #c0301c;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.section-paralax:hover .paralax__information-flex {
  visibility: visible;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.paralax__information-title {
  font-family: RobotoSlab;
  font-size: 30px;
  line-height: 44px;
  color: #ffffff;
}

.paralax__information-title h2 {
  text-align: center;
  max-width: 454px;
}

.paralax__information-btn a button {
  margin-top: 33px;
  font-family: Montserrat;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid  #ffffff;
  padding: 13px 33px;
  -webkit-transition: background-color 1.4s, color 1.4s, font-size 1s, -webkit-border-radius 500ms;
  transition: background-color 1.4s, color 1.4s, font-size 1s, -webkit-border-radius 500ms;
  -o-transition: background-color 1.4s, color 1.4s, border-radius 500ms, font-size 1s;
  transition: background-color 1.4s, color 1.4s, border-radius 500ms, font-size 1s;
  transition: background-color 1.4s, color 1.4s, border-radius 500ms, font-size 1s, -webkit-border-radius 500ms;
}

.paralax__information-btn a button:hover {
  margin-top: 47;
  font-family: Montserrat;
  font-size: 20px;
  text-transform: uppercase;
  color: transparent;
  background-color: #ffffff;
  color: black;
  mix-blend-mode: screen;
  -webkit-border-radius: 35px;
          border-radius: 35px;
  font-weight: 400;
  -webkit-transition: background-color 1.4s, color 1.4s, font-size 1s, -webkit-border-radius 500ms;
  transition: background-color 1.4s, color 1.4s, font-size 1s, -webkit-border-radius 500ms;
  -o-transition: background-color 1.4s, color 1.4s, border-radius 500ms, font-size 1s;
  transition: background-color 1.4s, color 1.4s, border-radius 500ms, font-size 1s;
  transition: background-color 1.4s, color 1.4s, border-radius 500ms, font-size 1s, -webkit-border-radius 500ms;
}

.section-blog {
  padding-top: 85px;
  height: 210зч;
}

.section-blog__flex-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 95px;
  margin-bottom: 70px;
}

.section-blog__flex-title .title {
  font-family: Montserrat;
  font-size: 20px;
  text-transform: uppercase;
  color: #555555;
}

.section-blog__flex-title .subtitle {
  font-family: Roboto Slab;
  font-size: 16px;
  color: #555555;
}

.section-blog__flex-title .line {
  width: 50px;
  height: 2px;
  background-color: #555555;
}

.section-blog__flex-blog {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .section-blog__flex-blog {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .section-blog__flex-item-img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.section-blog__flex-item-text-place {
  padding-left: 35px;
}

.section-blog__flex-item-text-place-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-blog__flex-item-text-place-date {
  border: solid 2px #555555;
  width: 76px;
  height: 76px;
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #777777;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-blog__flex-item-text-place-date .number {
  font-size: 24px;
}

.section-blog__flex-item-text-place-date .mounth {
  font-size: 14px;
  padding-top: 3px;
}

.section-blog__flex-item-text-autor {
  padding-left: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-blog__flex-item-text-title h2 {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #c0301c;
}

.section-blog__flex-item-text-title h3 {
  font-family: RobotoSlab;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #777777;
}

.section-blog__flex-item-text-title span {
  color: #c0301c;
}

.section-blog__content_block {
  overflow: hidden;
  position: relative;
  max-height: 1000px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.section-blog__content_block.hide {
  height: 150px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.section-blog__content_block.hide:after {
  content: "";
  display: block;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #fff));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #fff 75%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), #fff 75%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%);
}

.section-blog__content_block p {
  font-size: 16px;
  color: #777;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  line-height: 1.6;
}

/* Кнопка */
.section-blog__content_toggle {
  font-family: RobotoSlab;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #c0301c;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.section-blog__content_toggle:hover {
  font-size: 18px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.section-blog__long-line {
  margin-top: 30px;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}

.partners {
  padding-top: 96px;
  height: 477px;
  background-color: #f8f8f8;
}

.partners__logos-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
